<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${usuario}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/usuario/usuarioForm}" th:object="${usuario}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombres:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombres}"
						class="form-control" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombres')}"
						th:errors="*{nombres}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellidos:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellidos}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellidos')}"
						th:errors="*{apellidos}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Edad:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{edad}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('edad')}"
						th:errors="*{edad}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Sexo:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{sexo}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('sexo')}"
						th:errors="*{sexo}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Correo Electronico:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{correoElectronico}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('correoElectronico')}"
						th:errors="*{correoElectronico}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Departamento:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{departamento}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Ciudad:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{ciudad}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Direccion:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{direccion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Telefono:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{telefono}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Rol:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{rol}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" name="crearUsuario" value="Confirmar"
						class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>